<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong> Cargando </strong>
            <br>
            <i class=" fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span> Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header bg-dark text-white">
                Roles Registrados ( <small> {{ totalRegistros }} </small> )
                <span class="pull-right"><button (click)="showModalCreate()" class="btn btn-rounded btn-outline-success"><i class="fa fa-plus"> </i> Crear </button></span>
            </h5>

            <div class="card-body text-black">
                <div class="row">
                    <div class="col-7">
                        Mostrando [ <small> {{ registrosMostrados }} </small> ] registros
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Nombre Rol </th>
                            <th> Estado </th>
                            <th width="150px"> Acciones </th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr *ngFor="let role of roles">
                            <td> {{ role.description }} </td>
                            <td> {{ role.status }} </td>
                            <td>
                                <button (click)="showModalUpdate( role )" class="btn btn-outline-primary"> <i class="fa fa-pencil-square-o"></i></button>
                                <button (click)="borrarRole( role )" class="btn btn-outline-danger"> <i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-12">
                    <span class="pull-right">
                              <button class="btn btn-outline-inverse"><i class="fa fa-arrow-left"> </i> Anteriores </button>
                              <button class="btn btn-outline-inverse"> Siguientes <i class="fa fa-arrow-right"> </i></button>
                      </span>
                </div>



            </div>
        </div>
    </div>
</div>

<!-- Modal Create Role -->
<div class="fondo-negro animated fadeIn" [ngClass]="modalCreate">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b> <i class="fa fa-plus"> </i> Crear Rol de Usuario</b></h5>
                    <button (click)="hideModalCreate()" type="button" class="close" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                        </button>
                </div>

                <form ngNativeValidate #fRole="ngForm" (ngSubmit)="crearRole(fRole.value)" class="form-horizontal form-material" autocomplete="off">

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-12"> <b> Descripcion de Rol: </b></label>
                            <div class="col-md-12">
                                <input [ngModel]="role.description" name="description" type="text" class="form-control form-control-line" placeholder="Ej: Operador" required>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success"><i class="fa fa-save"> </i> Guardar</button>
                        <button (click)="hideModalCreate()" type="button" class="btn btn-outline-inverse">Cerrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

<!-- Modal Update Role -->
<div class="fondo-negro animated fadeIn" [ngClass]="modalUpdate">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b> <i class="fa fa-edit"> </i> Actualizar Rol de Usuario</b></h5>
                    <button (click)="hideModalUpdate()" type="button" class="close" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                        </button>
                </div>

                <form autocomplete="off" ngNativeValidate #fRoleUpd="ngForm" (ngSubmit)="actualizarRole(fRoleUpd.value)" class="form-horizontal form-material">

                    <div class="modal-body">
                        <input [ngModel]="role.id" name="id" type="hidden">
                        <div class="form-group">
                            <label class="col-md-12"> <b> Descripcion de Rol: </b></label>
                            <div class="col-md-12">
                                <input [ngModel]="role.description" name="description" type="text" class="form-control form-control-line" placeholder="Ej: Valor" required>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success"><i class="fa fa-save"> </i> Guardar</button>
                        <button (click)="hideModalUpdate()" type="button" class="btn btn-outline-inverse">Cerrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>